@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Syne+Mono&display=swap");
@media screen and (min-width: 800px) {
  body {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    font-family: 'Syne Mono', monospace;
    background-image: url("../img/background-pc.jpg");
    background-size: cover;
  }
  body footer {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    border-top: 2px solid #fffdfd;
  }
  body .titre {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    background-color: antiquewhite;
  }
  body .regle {
    margin-bottom: 20px;
    padding: 20px 20px 50px 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
  }
  body .regle .rules_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .regle h2 {
    font-size: 25px;
    text-decoration: underline;
  }
  body .regle img {
    height: 100px;
  }
  body .regle li {
    list-style-type: none;
    line-height: 30px;
  }
  body .container .mauvaisesProp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  body .container .text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    height: 250px;
  }
  body .container .text #clavier {
    display: block;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
  }
  body .container .text #clavier .btn {
    border-radius: 100px;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    padding: 10px 10px 10px 10px;
    background-color: #26135a;
    border: none;
    color: antiquewhite;
    margin-bottom: 20px;
  }
  body .container .text #clavier .btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 1px #45458b;
            box-shadow: 5px 5px 1px #45458b;
  }
  body .container .text .pos {
    background-color: #8fe4e4;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    cursor: pointer;
  }
  body .container .text .pos:hover {
    -webkit-box-shadow: 5px 5px 1px #349287;
            box-shadow: 5px 5px 1px #349287;
  }
}

@media (min-width: 300px) and (max-width: 1000px) {
  body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Syne Mono', monospace;
    background-image: url("../img/background.jpg");
    background-size: cover;
  }
  body footer {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    border-top: 2px solid #fff;
  }
  body .titre {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    background-color: antiquewhite;
  }
  body .regle {
    margin-bottom: 20px;
    padding: 10px 10px 50px 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
  }
  body .regle .rules_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .regle h2 {
    font-size: 25px;
    text-decoration: underline;
  }
  body .regle img {
    height: 100px;
  }
  body .regle li {
    list-style-type: none;
    line-height: 30px;
  }
  body .regle ul {
    padding: 0;
    text-align: center;
  }
  body .container .mauvaisesProp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  body .container .text .pos {
    background-color: #8fe4e4;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    cursor: pointer;
  }
  body .container .text .pos:hover {
    -webkit-box-shadow: 5px 5px 1px #349287;
            box-shadow: 5px 5px 1px #349287;
  }
  body .container .text #clavier {
    display: block;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
  }
  body .container .text #clavier .btn {
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    padding: 5px 5px 5px 5px;
    background-color: #26135a;
    border: 1px solid black;
    color: antiquewhite;
    margin-bottom: 20px;
  }
  body .container .text #clavier .btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 1px #45458b;
            box-shadow: 5px 5px 1px #45458b;
  }
  body .container .text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    height: 250px;
  }
}
/*# sourceMappingURL=style.css.map */